.app{
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 100vh;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.menu__search{
    width: 95%;
    font-size: 20px;
}
.card{ 
    display: flex;
    flex-direction: column;
    background-color: rgb(105, 219, 105);
    width: 95%;
    padding: 5px;
    margin: 20px 0;
}
.card__name{
    font-size: 25px;
    margin: 10px 0;
}
.card__description{
    font-size: 18px;
    margin: 0;
}
/* Множественное число класса, так как у тебя там не одна функция */
.card__function{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.card__function__delete{
    font-size: 30px;
    margin-top: 17px;
    margin-bottom: 5px;
}
.card__function__redaction {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.content{
    width: 80%;
    background-color: #D2D2D2;
}

.content__name{
    font-size: 30px;
    margin: 10px 20px;
}
.content__description{
    font-size: 20px;
    margin: 0 20px;
}
#add{
    cursor: pointer;
    font-size: 50px;
    text-align: right;
    margin-right: 10px;
    font-weight: 700;
}
.notify{
    display: flex;
    flex-direction: column;
    height: 250px;
    background-color: rgb(255, 255, 255);
    width: 20%;
    position: absolute;
    bottom: 0;
    right: 18px;
    border-radius: 20px;  
    flex-direction: column;
    transition: 1s;
    font-size: 20px;
    border: 1px solid black;
}
.notify__close{
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}

input{
    margin: 7px 10px;
    width: 97%;
    font-size: 18px;
    background-color: #eeeefc;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: 0.5s;
    padding: 7px 0;
}

.addBtn{
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgb(105, 219, 105);
}