.app{
    display: flex;
    flex-direction: row;
}
.search{
    width: 95%;
    font-size: 20px;
}
.card{ 
    display: flex;
    flex-direction: column;
    background-color: rgb(105, 219, 105);
    /* дай обёртке, в которой карточки display:flex и тогда сможешь дать тут 100% в ширину */
    width: 95%;
    padding: 5px;
    margin: 20px 0;
}
.name{
    font-size: 25px;
    margin: 10px 0;
}
.description{
    font-size: 18px;
    margin: 0;
}
/* Множественное число класса, так как у тебя там не одна функция */
.function{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.delete{
    font-size: 30px;
    margin-top: 17px;
    margin-bottom: 5px;
}
.redaction {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.content{
    width: 80%;
    background-color: #D2D2D2;
}
/* Странно, что этот селектор объявлен здесь, вдалеке от селекторов, отвечающих за меню */
.list{
    width: 20%;
}
/* Передалай под методолгию БЭМ, так как сейчас БЕДА */
.nameContent{
    font-size: 30px;
    margin: 10px 20px;
}
.descriptionContent{
    font-size: 20px;
    margin: 0 20px;
}
/* Тут лучше через id, так как кнопка добавить карточку уникальная */
.add{
    cursor: pointer;
    font-size: 50px;
    text-align: right;
    margin-right: 10px;
    font-weight: 700;
}


/* P.S. все селекторы для карточки в меню тоже переделай под БЭМ, так как непонятно что к чему относится */